<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.angarron.vframes" >

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="com.angarron.vframes.application.VFramesApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.NoActionBar"
        >

        <activity
            android:name="com.angarron.vframes.ui.activity.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.angarron.vframes.ui.activity.CharacterSelectActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>

        <activity
            android:name="com.angarron.vframes.ui.activity.CurrentStreamsActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>

        <activity
            android:name="com.angarron.vframes.ui.activity.CharacterSummaryActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTask">
        </activity>

        <!-- Crashlytics Integration -->
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="18696c3d4c4fa14de8088de46b473a83891b3153" />
    </application>

</manifest>
